<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- JDBC和偏好配置 -->
	<properties resource="jdbc.properties">
		<property name="enableLogger" value="true" />
		<property name="enableMapperScanLog" value="true" />
		<property name="enableRuntimeLog" value="true" />
		<property name="enableCompilationLog" value="true" />
		<property name="enableKeywordsToUppercase" value="true" />
		<property name="databaseColumnStyle" value="`#`" />
	</properties>

	<!-- 覆盖Mybatis默认配置 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="defaultStatementTimeout" value="10" />
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 这是开启XML解析的主要配置，如果您不配置此项，将无法使用XML中的各种模板语法 -->
		<setting name="defaultScriptingLanguage" value="com.viiyue.plugins.mybatis.MyBatisMapperLanguageDriver" />
	</settings>

	<!-- 别名配置，强烈建议配置此项，否则插件将无法提供良好支持 -->
	<typeAliases>
		<package name="com.viiyue.mapper.demo.model" />
		<package name="com.viiyue.mapper.demo.bean" />
	</typeAliases>

	<!-- 全局类型转换处理器 -->
	<typeHandlers>
		<package name="com.viiyue.mapper.demo.handler" />
	</typeHandlers>

	<!-- 基础环境变量配置 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="url" value="${db.url}" />
				<property name="driver" value="${db.driver}" />
				<property name="username" value="${db.userName}" />
				<property name="password" value="${db.password}" />
				<property name="poolPingQuery" value="SELECT 1" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper相关配置 -->
	<mappers>
		<mapper resource="mapper/AccountMapper.xml" />
	</mappers>
</configuration>
